<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8"/>
        <title>Angular To Do List</title>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <style>
            table .th,td{
                width: 25%;
            }

            .o{
                background-color: #cccccc;
            }
            .e{
                background-color: #999999;
            }

            .done-true{
                text-decoration: line-through;
                color: black;
            }

            .search{
                background-color: #cccccc;
            }

            .well{
                background-color: #999999 !important;  
            } 

            .table-head{
                background-color: rgb(34,34,34);
                color: white;
            }
        </style>

    </head>  
    <body>
        <div ng-controller="mainCtrl">

            <!--page header-->
            <div>
                <div class="container">
                    <h1 class="page-header">To Do List</h1>     
                    <div class="well">
                        <p>Number of to do tasks: <strong><span ng-bind="todos.length"></span></strong></p>
                    </div>
                    <form class="col-lg-5 col-md-6 well">
                        <div class="form-group">
                            <input  type="text" class="form-control" ng-model="formToDo" ng-model-instant/>
                        </div>                       
                        <div class="form-item">
                            <button class="btn btn-primary"  ng-click="addTo()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
                        </div>
                    </form>                    
                </div>
            </div>
            <!--calls ng repeat-->            
            <div class="container">
                <span> {{currentPage + 1}} - {{numberOfPages()}}</span>
                <table class="table">
                    <thead>
                        <tr class="table-head">
                            <th>#</th>
                            <th>Action</th>
                            <!--<th>Done</th>-->
                            <th>Current Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="search">
                            <td><button class="btn btn-primary" ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1"><i class="glyphicon glyphicon-chevron-left"></i></button></td>
                            <td>
                                <input type="text" ng-model="filtered" class="form-control" ng-focus="currentPage = 0"/>
                            </td>
                            <td style="text-align: right"><button class="btn btn-primary" ng-disabled="currentPage >= todos.length / pageSize-1" ng-click="currentPage = currentPage + 1"><i class="glyphicon glyphicon-chevron-right"></i></button></td>
                            <!--<td></td>-->
                        </tr>
                        <tr ng-repeat="item in todos| filter:filtered |
                                        startFrom:currentPage * pageSize | limitTo:pageSize" ng-class="$odd ? 'o' : 'e' ">
                            <td ng-bind="$index + 1"></td>
                            <td class="done-{{item.complete}}" ng-bind="item.action"></td>
                            <!--<td class="done-{{item.complete}}">{{item.complete}}</td>-->
                            <td>
                                <input type="checkbox" name="completed" ng-model="item.complete"/>
                            </td>                            </tr>
                    </tbody>
                </table>
                <br/>
                <button class="btn btn-m btn-primary" ng-click="clearCompleted()"><i class="glyphicon glyphicon-trash"></i>&nbsp;Clear Completed</button>
                <br/>
                <br/>
                <br/>
            </div>
        </div>

        <!--angular-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!--undescore-->
        <script type="text/javascript" src="js/vendor/underscore.js/underscore.js"></script>
        <!--app-->
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="controller/controller.js"></script>                                

    </body>
</html>